article.post{
    max-width: 100%;
    
    .content{
        h1, h2, h3 {
            color: $post-text;
        }

        h1{
            font-size: 45px;
        }

        p, a, li, i{
            color: $post-text !important;
            line-height: 26px;
            font-size: 18px;
        }

        p > code{
            background: #4d4d4d;
            color: #46dbad;
            border-radius: 3px;
            padding: 2px 4px;

            &:before, &:after{
                display: none;
            }
        }

        table{
            background-color: #1e293b;
            font-size: 18px;
            
            thead {
                th{
                    color: $post-text;
                    padding: 12px;
                }
            }

            td{
                color: $post-text;
                padding: 12px;
            }
        }
    }
}