article.post{
    max-width: 100%;
    
    .content{
        h1, h2, h3 {
            color: $white;
        }

        p, a, li{
            color: $post-text !important;
            line-height: 26px;
            font-size: 18px;
        }

        table{
            background-color: #1e293b;
            font-size: 18px;
            
            thead {
                th{
                    color: $white;
                    padding: 12px;
                }
            }

            td{
                color: $post-text;
                padding: 12px;
            }
        }
    }
}