html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}
body {
  background-color: $white;
  font-family: 'Poppins', sans-serif;

  #nxt_site {
    .home-section,
    #blog_template {
      min-height: 500px;
    }
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}

#section_hero {
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(
        rgba(255, 251, 235, 0.03) 0.1em,
        transparent 0.1em
      ),
      linear-gradient(90deg, rgba(255, 251, 235, 0.03) 0.1em, transparent 0.1em);
    background-size: 3em 3em;
  }
}
