body{
    background: rgb(15,23,42);
    background: linear-gradient(0deg, $bk-darker 0%, $bk-dark 100%);
    font-family: 'Source Sans Pro', sans-serif;

    #nxt_site{
        .content{
            /* Dark theme colors setup */
            h1, h2, h3, h4, p{
                color: $white;
            }
            .info-txt{
                h1{
                    font-size: 46px;
                }
            }
    
            .pf-picture img{
                border: 5px solid $accent-1;
                background-color: rgba($white, 0.06);

                @media screen and (max-width: 768px) {
                    max-width: 182px;
                }
            }
    
            #recent-posts{
                h2{
                    font-size: 24px;
                }
            }
        }
    }
}