body{
    background: $bk-dark;
    font-family: 'Source Sans Pro', sans-serif;

    #nxt_site{
        .home{
            .content{
                .info-txt{
                    h1{
                        font-size: 46px;
                    }
                }
        
                .pf-picture img{
                    background-color: rgba($white, 0.06);
    
                    @media screen and (max-width: 768px) {
                        max-width: 182px;
                    }
                }
        
                #recent-posts{
                    h2{
                        font-size: 24px;
                    }
    
                    #posts-list{
                        img{
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }

    footer{
        background-color: $bk-darker;
    }
}