$bk-dark: #171717;
$bk-darker: rgba(41,37,36,1);
$accent-1: #3b82f6;
$white: #ffffff;
$blue-500: #3b82f6;
$post-text: #fffbeb;

$bk_gradient: linear-gradient(to right top, #0b4b69, #074464, #043d5f, #043659, #052f53);

$bg-color: #fdfcf9;